.accordion {
  &__item {
    margin-bottom: @item-margin;
  }

  &__item-body-inner a {
    color: @font-color;
  }

  &__item-btn {
    position: relative;
    padding: @item-padding;
    padding-right: @icon-size + (@item-padding * 2);
    text-align: left;
    background-color: @item-color;
    color: @item-color-inverted;
    box-shadow: @shadow;

    .no-touch &:not(.is-selected):hover {
      background-color: @item-color-hover;
      color: @item-color-inverted-hover;
      .transition(background-color @duration ease-in, color @duration ease-in;);
    }

    .dir-rtl & {
      padding-right: @item-padding;
      padding-left: @icon-size + (@item-padding * 2);
      text-align: right;
    }
  }

  &__item-btn.is-visited {
    background-color: @visited;
    color: @visited-inverted;
  }

  &__item-btn.is-selected {
    background-color: @item-color-selected;
    color: @item-color-inverted-selected;
  }

  &__item-icon {
    position: absolute;
    top: 50%;
    right: @item-padding;
    .transform(translateY(-50%));

    .dir-rtl & {
      right: inherit;
      left: @item-padding;
    }
  }

  &__item-content {
    padding: @item-padding;
    background-color: transparent;
    color: @font-color;
  }

  //&__item-image-container {
    //.img-zoom();
  //}

  &__item-btn.is-closed .icon {
    .icon-chevron-with-circle-down;
  }

  &__item-btn.is-open .icon {
    .icon-chevron-with-circle-up;
  }
}
