.hotgraphic {

  &__pin-item .btn-icon {
    padding: .5rem;
  }

  &__widget {
    box-shadow: @shadow;
  }

  &__pin:not(.has-pin-image) {
    box-shadow: @shadow;
    background-color: @item-color;
    color: @item-color-inverted;
    border-radius: 50%;
    border-color: @white;
    border-style: solid;
    border-width: 2px;

    .no-touch &:hover {
      background-color: @item-color-hover;
      color: @item-color-inverted-hover;
      .transition(background-color @duration ease-in, color @duration ease-in;);
    }
  }

  &__pin:not(.has-pin-image).is-visited {
    background-color: @visited;
    color: @visited-inverted;
  }
}
