.narrative {
  &__content {
    width: 36%;
  }

  &__indicators {
    margin-top: 10px;
  }

  &__content-title {
    margin-bottom: @item-title-margin;
    .item-title;
  }

  &__controls {
    background-color: @item-color;
    color: @item-color-inverted;
    box-shadow: @shadow;

    .no-touch &:hover {
      background-color: @item-color-hover;
      color: @item-color-inverted-hover;
      .transition(background-color @duration ease-in, color @duration ease-in;);
    }
  }

  &__progress {
    background-color: @item-color;
    border-radius: 50%;

    .no-touch &:not(.is-selected):hover {
      background-color: @item-color-hover;
      .transition(background-color @duration ease-in);
    }
  }

  &__progress.is-selected {
    background-color: @item-color-selected;
  }

  &__strapline {
    box-shadow: @shadow;
  }

  &__strapline-btn {
    text-align: left;
    background-color: @item-color;
    color: @item-color-inverted;

    .no-touch &:hover {
      background-color: @item-color-hover;
      color: @item-color-inverted-hover;
    }

    .dir-rtl & {
      text-align: right;
    }
  }

  &__strapline-btn.is-visited {
    background-color: @visited;
    color: @visited-inverted;
  }

  //&__slider-image-container {
    //.img-zoom();
  //}

  &__slide-container {
    box-shadow: @shadow;
  }

  &__controls-left .icon {
    .icon-chevron-with-circle-left;
  }

  &__controls-right .icon {
    .icon-chevron-with-circle-right;
  }
}
