// --------------------------------------------------
// Colour definitions
// --------------------------------------------------
@blue: #135175; // Used for primary items, titles, pins, popups etc.
@grey: #9096a0; // Used for progress and resources buttons
@greyLight: #cecece; // Used for nav bar
@greyDark: #4D4D4D; // Used mainly for trickle bar and visited or inactive item states
@white: #ffffff; // Used for page bg, page title, secondary text etc.
@green: #4ebd79; // Used mainly for correct answer icon (validation success)
@red: #ea4545; // Used mainly for correct answer icon (validation error)

@primary-color: @blue;
@primary-color-inverted: @white;

// These variables are used to change the colour of text
// Primary use is for altering the text colour over a background image
// See ../project/theme-extras.less for block mixin
// --------------------------------------------------
@transparent-light: transparent;
@transparent-dark: transparent;
// --------------------------------------------------

// --------------------------------------------------
// Body, link, and heading colour
// --------------------------------------------------
@font-color: darken(@primary-color, 10%);
@font-color-inverted: @white;

@link: @font-color;
@link-inverted: @font-color-inverted;

@link-hover: @link;
@link-inverted-hover: @link-inverted;

@heading-color: @primary-color-inverted;
@heading-color-inverted: @primary-color;
// --------------------------------------------------

// --------------------------------------------------
// Items - components
// --------------------------------------------------
@item-color: @primary-color;
@item-color-inverted: @primary-color-inverted;

@item-color-hover: darken(@item-color, 10%);
@item-color-inverted-hover: @item-color-inverted;

@item-color-selected: darken(@item-color, 20%);
@item-color-inverted-selected: @item-color-inverted;
// --------------------------------------------------

// --------------------------------------------------
// Visited - presentation components
// --------------------------------------------------
@visited: @greyDark;
@visited-inverted: @white;
// --------------------------------------------------

// --------------------------------------------------
// Buttons
// --------------------------------------------------
@btn-color: @primary-color;
@btn-color-inverted: @primary-color-inverted;

@btn-color-hover: darken(@btn-color, 10%);
@btn-color-inverted-hover: @btn-color-inverted;
// --------------------------------------------------

// --------------------------------------------------
// Disabled - question components
// --------------------------------------------------
@disabled: #DDDDDD;
@disabled-inverted: @black;
// --------------------------------------------------

// --------------------------------------------------
// Validation states - question marking
// --------------------------------------------------
@validation-success: @green;
@validation-success-inverted: @white;

@validation-error: @red;
@validation-error-inverted: @white;
// --------------------------------------------------

// --------------------------------------------------
// Progress
// --------------------------------------------------
@progress: @grey;
@progress-inverted: @white;
@progress-border: @grey;
// --------------------------------------------------

// --------------------------------------------------
// Navigation
// --------------------------------------------------
@nav: @white;
@nav-inverted: @grey;

@nav-icon: @nav-inverted;
@nav-icon-inverted: @nav;

@nav-icon-hover: darken(@nav-icon, 10%);
@nav-icon-inverted-hover: @nav-icon-inverted;

@nav-progress: @nav-icon-inverted;
@nav-progress-inverted: @nav-icon;
@nav-progress-border: @nav-icon-inverted;

@nav-progress-hover: @nav-icon-inverted-hover;
@nav-progress-inverted-hover: @nav-progress-inverted;
@nav-progress-border-hover: @nav-progress-border;
// --------------------------------------------------

// --------------------------------------------------
// Notify
// --------------------------------------------------
@notify: @blue;
@notify-inverted: @white;

@notify-link: @notify-inverted;

@notify-link-hover: @notify-link;

@notify-btn: @btn-color-inverted;
@notify-btn-inverted: @btn-color;

@notify-btn-hover: darken(@notify-btn, 10%);
@notify-btn-inverted-hover: @notify-btn-inverted;

@notify-icon: @notify;
@notify-icon-inverted: @notify-inverted;

@notify-icon-hover: darken(@notify-icon, 10%);
@notify-icon-inverted-hover: @notify-icon-inverted;
// --------------------------------------------------

// --------------------------------------------------
// Drawer
// --------------------------------------------------
@drawer: @blue;
@drawer-inverted: @white;

@drawer-link: @drawer-inverted;

@drawer-link-hover: @drawer-link;

@drawer-icon: @drawer;
@drawer-icon-inverted: @drawer-inverted;

@drawer-icon-hover: darken(@drawer-icon, 10%);
@drawer-icon-inverted-hover: @drawer-icon-inverted;

@drawer-item: @drawer;
@drawer-item-inverted: @drawer-inverted;

@drawer-item-hover: darken(@drawer-item, 10%);
@drawer-item-inverted-hover: @drawer-item-inverted;

@drawer-item-selected: darken(@drawer-item, 20%);
@drawer-item-inverted-selected: @drawer-item-inverted;

@drawer-progress: @drawer-item-inverted;
@drawer-progress-inverted: @drawer-item;
@drawer-progress-border: @drawer-item-inverted;

@drawer-progress-hover: @drawer-item-inverted-hover;
@drawer-progress-inverted-hover: @drawer-item-hover;
@drawer-progress-border-hover: @drawer-progress-border;
// --------------------------------------------------

// --------------------------------------------------
// Background
// --------------------------------------------------
@background: @black;
@background-inverted: @white;
// --------------------------------------------------

// --------------------------------------------------
// Shadow
// --------------------------------------------------
@shadowLoading: @black;
@shadowLoading-inverted: @white;
// --------------------------------------------------
