.trickle {

  &__btn {
    background-color: @btn-color;
    color: @btn-color-inverted;
  }

  &__btn-icon {
    display: inline-block;
    vertical-align: middle;
  }

  &__btn-text {
    display: inline-block;
    vertical-align: middle;
  }

  &__btn-icon .icon {
    .icon-arrow-down;
  }
}
