.mcq {
  &__item {
    box-shadow: @shadow;
  }

  &__item-label {
    margin-bottom: @item-margin;
    background-color: @item-color;
    color: @item-color-inverted;

    .no-touch &:not(.is-disabled):not(.is-selected):hover {
      background-color: @item-color-hover;
      color: @item-color-inverted-hover;
      .transition(background-color @duration ease-in, color @duration ease-in;);
    }

    .no-touch &:not(.is-disabled):not(.is-selected):hover .mcq__item-icon {
      .effect-scalePulse;
    }
  }

  &__item-label.is-disabled {
    background-color: @disabled;
    color: @disabled-inverted;
  }

  &__item-label.is-selected {
    background-color: @item-color-selected;
    color: @item-color-inverted-selected;
  }

  &__item-state {
    position: absolute;
    top: 50%;
    left: @item-padding;
    .transform(translateY(-50%));

    .dir-rtl & {
      left: inherit;
      right: @item-padding;
    }
  }

  &__item-text {
    padding: @item-padding @item-padding @item-padding (@icon-size + (@item-padding * 2));

    .dir-rtl & {
      padding-left: @item-padding;
      padding-right: @icon-size + (@item-padding * 2);
    }
  }

  &__item-label.is-selected {
    .mcq__item-answer-icon.is-checkbox .icon,
    .mcq__item-answer-icon.is-radio .icon {
      .icon-padlock-locked;
    }
  }

  &__item-label:not(.is-selected) {
    .mcq__item-answer-icon.is-checkbox .icon,
    .mcq__item-answer-icon.is-radio .icon {
      .icon-padlock-unlocked;
    }
  }
}
