.gmcq {
  &__item-label {
    margin: @item-margin;
    box-shadow: @shadow;
  }

  // -------------------------------------------------
  // Layout #1
  // --------------------------------------------------
  &__item-option {
    margin-top: @item-margin;
    padding: @item-padding / 2;
    background-color: @item-color;
    color: @item-color-inverted;
  }

  .no-touch &__item-label:not(.is-disabled):not(.is-selected):hover .gmcq__item-option {
    background-color: @item-color-hover;
    color: @item-color-inverted-hover;
    .transition(background-color @duration ease-in, color @duration ease-in;);
  }

  &__item-label.is-disabled .gmcq__item-option {
    background-color: @disabled;
    color: @disabled-inverted;
  }

  &__item-label.is-selected .gmcq__item-option {
    background-color: @item-color-selected;
    color: @item-color-inverted-selected;
  }

  &__item-state {
    min-height: @icon-size;
  }

  &__item-text {
    margin-top: @item-margin;
    text-align: center;
  }
  // --------------------------------------------------

  // --------------------------------------------------
  // Layout #2
  // --------------------------------------------------
  // &__item-option {
  //   position: relative;
  // }

  // &__item-state {
  //   position: absolute;
  //   top: 50%;
  //   left: @item-padding;
  //   .transform(translateY(-50%));

  //   .dir-rtl & {
  //     left: inherit;
  //     right: @item-padding;
  //   }
  // }

  // &__item-text {
  //   padding: @item-padding @item-padding @item-padding (@icon-size + (@item-padding * 2));

  //   .dir-rtl & {
  //     padding-left: @item-padding;
  //     padding-right: @icon-size + (@item-padding * 2);
  //   }
  // }
  // --------------------------------------------------
}
