.media {

  &__widget {
    box-shadow: @shadow;
  }

  &__transcript-container {
    margin-top: @item-margin;
  }

  &__transcript-btn {
    padding: @item-padding;
    background-color: @item-color;
    color: @item-color-inverted;
    box-shadow: @shadow;
    margin-top: 1rem;

    .no-touch &:hover {
      background-color: @item-color-hover;
      color: @item-color-inverted-hover;
      .transition(background-color @duration ease-in, color @duration ease-in;);
    }
  }

  &__transcript-body-inline {
    margin-top: @item-margin;
    padding: @item-padding;
  }

  .mejs-overlay-button {
    background-image: url(assets/bigplay-primary.svg)
  }

  // --------------------------------------------------
  // Overrides for media player controls - to finish
  // --------------------------------------------------
  // .mejs-container {
  //   .mejs-controls {
  //     background-image: none;
  //     background-color: red;
  //   }

  //   .mejs-time-rail {
  //     .mejs-time-total {
  //       background-image: none;
  //       background-color: white;
  //     }

  //     .mejs-time-loaded {
  //       background-image: none;
  //       background-color: green;
  //     }

  //     .mejs-time-current {
  //       background-image: none;
  //       background-color: orange;
  //     }
  //   }
  // }
  // --------------------------------------------------
}
