.stacklist-items {
	position: relative;
	margin-bottom: @item-margin;
}

.stacklist-item {
	position: relative;
	padding: 1rem;
	margin-bottom: @item-margin;
	background-color: @primary-color;
	color: @primary-color-inverted;
	box-shadow: @shadow;

  &.show {
    position: static !important;
  }
}

.stacklist-item p {
	margin: 0;
}

.stacklist-next {
	margin-top: 1.5rem;
	background-color: @btn-color;
	color: @btn-color-inverted;
	box-shadow: @shadow;

	.no-touch &:hover {
		background-color: @btn-color-hover;
		transition: background-color 0.2s ease-in, color 0.2s ease-in;

	}
}

.stacklist-button {
	display: none;
	position: absolute;
	top: 0;
	height: 53px;
	width: 100%;
	text-align: center;
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	-ms-transition: 0.25s;
	-o-transition: 0.25s;
	transition: 0.25s;

	button {
		min-height: 40px;
		min-width: 250px;
	}
}
