.textinput {
  &__item-prefix-container,
  &__item-suffix-container {
    text-align: center;
  }

  &__item-textbox-container {
    position: relative;
  }

  &__item-textbox {
    padding: @item-padding (@icon-size + (@item-padding * 2)) @item-padding @item-padding;
    line-height: @body-line-height;
    box-shadow: @shadow;

    .dir-rtl & {
      padding-left: @icon-size + (@item-padding * 2);
      padding-right: @item-padding;
    }
  }

  &__widget.is-disabled .textinput__item-textbox {
    background-color: @disabled;
    border-color: @disabled;
    color: @disabled-inverted;
  }

  &__widget.is-disabled .textinput__item-icon {
    color: @disabled-inverted;
  }

  &__item-state {
    position: absolute;
    top: 50%;
    right: @item-padding;
    .transform(translateY(-50%));

    .dir-rtl & {
      right: inherit;
      left: @item-padding;
    }
  }
}
