// --------------------------------------------------
// --------------------------------------------------
// Global
// --------------------------------------------------
// --------------------------------------------------

ul {
  padding-left: 1.5rem;
}

// --------------------------------------------------
// --------------------------------------------------
// contentObject
// --------------------------------------------------
// --------------------------------------------------

// --------------------------------------------------
// Hide nav back button
// --------------------------------------------------
.hide-nav-back-btn .nav__back-btn {
  .u-display-none;
}
// --------------------------------------------------

// --------------------------------------------------
// --------------------------------------------------
// Block
// --------------------------------------------------
// --------------------------------------------------

// --------------------------------------------------
// Custom class added to block
// Aligns child components centrally on the vertical axis
// --------------------------------------------------
.block.align-vert-center .component__container {
  align-items: center;
}
// --------------------------------------------------

// --------------------------------------------------
// Extend width of block to max page width
// --------------------------------------------------
.block.extend-container .block__inner {
  max-width: @max-width;
}
// --------------------------------------------------

// --------------------------------------------------
// Remove top padding from block
// --------------------------------------------------
.block.remove-top-padding .block__inner {
  padding-top: 0;
}
// --------------------------------------------------

// --------------------------------------------------
// Remove bottom padding from block
// --------------------------------------------------
.block.remove-bottom-padding .block__inner {
  padding-bottom: 0;
}
// --------------------------------------------------

// --------------------------------------------------
// Background color mixin
// Add to block to enable
// e.g. 'block-color black'
// Note: both arguments must be predefined variables
// --------------------------------------------------
.block-color-mixin(transparent-light, black);
.block-color-mixin(transparent-dark, white);
.block-color-mixin(black, white);
.block-color-mixin(background, background-inverted);

.block-color-mixin(@color, @color-inverted) {

  .block-color.blue {
    background-color: @primary-color;
    color: @primary-color-inverted;
    border-bottom: 5px @greyLight solid;
    border-top: 5px @greyLight solid;

    .article,
    .block,
    .component {
      &__title,
      &__body a,
      &__instruction a {
        color: @primary-color-inverted;
      }
    }

    .accordion {
      &__item-content {
        color: @primary-color-inverted;
      }
    }

    .pagelevelprogress {
      &__indicator {
        border-color: @primary-color-inverted;
      }

      &__indicator-inner {
        background-color: @primary-color;
      }

      &__indicator-bar {
        background-color: @primary-color-inverted;
      }
    }

    .narrative { // Needs further testing; not working
      &__progress {
        background-color: fade(@white, 50%);
      }

      &__progress.is-selected {
        background-color: @white;
      }
    }

    .media {
      .mejs-overlay-button {
        background-image: url(assets/bigplay-secondary.svg);
      }
    }

    .stacklist { //Needs further testing; not working
      &__stacklist-next,
      &__stacklist-item {
        background-color: @white;
      	color: @blue;
      }
    }

    .trickle {
      &__btn {
        background-color: @btn-color-inverted;
        color: @btn-color;
        &:hover {
          background-color: @greyLight;
          color: @btn-color;
        }
      }
    }
  }
}

blockquote {
    margin-left: 0;
    margin-right: 0;
    padding-left: 15px;
    border-left: 10px solid @primary-color-inverted;
    font-style: italic;
}

.learn-more,
.learn-more a {
    font-size: .8rem;
}

.item-image-small {
    .hotgraphic-popup__item-image-container {
        max-width: 250px;
    }
}

// --------------------------------------------------
// Remove box-shadow for images with transparency
// --------------------------------------------------

.shadow-unset {
  .graphic {
    &__image-container {
      box-shadow: none;
    }
  }
}

// --------------------------------------------------

// --------------------------------------------------
// Bullets and icons
// --------------------------------------------------

@font-face {
  font-family: "vanilla";
  src: url('fonts/vanilla.woff2') format('woff2'),
       url('fonts/vanilla.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon-bullets {
  list-style-type: none;
}

.icon-bullet {
  &:before {
    display: block;
    font-family: "vanilla";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    float: left;
    padding-right: 10px;
    margin-top: 3px;
    font-size: 1.2em;
    text-align: center;
    text-decoration: none;
    // Better font rendering
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.icon-tick-bullet                        { &:before { content: "\e944"; } }
.icon-stopwatch-bullet                   { &:before { content: "\e90d"; } }
.icon-arrow-with-circle-down-bullet      { &:before { content: "\e900"; } }
.icon-pencil-bullet                      { &:before { content: "\e91a"; } }
.icon-feedback-bullet                    { &:before { content: "\e931"; } }

// --------------------------------------------------

// --------------------------------------------------
// Rings for Hot Graphic pins
// --------------------------------------------------

.ring-pins {
  .hotgraphic__pin,
  .hotgraphic__pin:not(.has-pin-image).is-visited,
  .hotgraphic__pin:not(.is-visited),
  .hotgraphic__pin:not(.is-visited):hover {
    background-color: transparent;
    color: transparent;
  }
}

// --------------------------------------------------

// --------------------------------------------------
// Limit image size for mobile screenshots
// --------------------------------------------------

.mobile-screenshot {
  @media (min-width: 400px) {
    img {
      min-width: unset;
      max-width: 30%;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

// --------------------------------------------------

// --------------------------------------------------
// Block background colour shades for block division
// --------------------------------------------------

.block-divide-light {
  background-color: darken(@primary-color-inverted, 2.5%);
  border-top: 1px darken(@primary-color-inverted, 10%) solid;
  border-bottom: 1px darken(@primary-color-inverted, 10%) solid;
}

.block-divide-primary {
  background-color: lighten(@primary-color, 2.5%);
  border-top: 1px darken(@primary-color, 5%) solid;
  border-bottom: 1px darken(@primary-color, 5%) solid;
}

// --------------------------------------------------

// --------------------------------------------------
// Styling for logo and name in top-left of course page
// --------------------------------------------------

.logo {
  max-height: 35px;
  min-width: unset;
  margin: 10px;
  float: left;
}

.freelearning {
  font-family: @title-family;
  font-size: @body-size;
  margin: 15px 0;
  float: left;
  @media(max-width: 700px) {
    display: none;
  }
}

// --------------------------------------------------

// --------------------------------------------------
// Hot Graphic Component
// --------------------------------------------------

// Hide Hot Graphic popup images and expand text to full width
.text-popup {
  .hotgraphic-popup__item-content {
    width: 100% !important;
    float: none;
  }

  .hotgraphic-popup__item-image-container {
    display: none;
  }
}

// --------------------------------------------------

// --------------------------------------------------
// Accessibility
// --------------------------------------------------

// Hide text but add underlining.
// This is an accessibility workaround for fill-in-the-blank questions.
// The word "blank" will be hidden but screen readers will still call it out.

.blank {
  color: rgba(0,0,0,0);
  border-bottom: 1px solid @font-color;
}

.blank-secondary {
  color: rgba(0,0,0,0);
  border-bottom: 1px solid @font-color-inverted;
}
