.graphic {
  &__image-container {
    box-shadow: @shadow;
    margin-bottom: 1rem;
    //.img-zoom();
  }
}

.graphic .component {
  &__inner {
    padding: 0px;
  }
}

.no-touch .graphic .component {
  &__inner {
    margin: 2rem;
    padding: 0px;
  }
}
