.article {
  &.has-bg-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
  }

  &__header {
    padding-top: 1em;
  }

  &__header-inner {
    .l-container-padding(@article-header-padding-ver, @article-header-padding-hoz);
  }

  &__title {
    margin: 2rem 0 1rem 1rem;
    .article-title;
    color: @heading-color-inverted;
  }

  &__body {
    margin-bottom: @article-body-margin;
  }

  &__instruction {
    margin-bottom: @article-instruction-margin;
    .instruction-text;
  }

  &__body a,
  &__instruction a {
    .link-text;
  }
}

@media(max-width: 420px) {
  .article__title {
    font-size: 2.5rem;
  }
}
