.has-attribution {
  position: relative;
}

.component__attribution {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: @item-padding;
  background-color: transparent;
  color: @background-inverted;
  transform: translate3d(0,0,0);
  font-size: .5rem;
  opacity: 0.2;
}

.attribution-full {
    .component__attribution, .no-touch .component__attribution {
        opacity: 1;
        font-size: 0.5rem;
        background-color: transparent;
    }
}

// Override position: absolute; as it won't work with current GMCQ structure
.gmcq__attribution {
  position: relative;
}
