.block {
  &.has-bg-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
  }

  &__inner {
    padding: 1rem .5rem 3rem;
  }

  &__title {
    margin: 2rem 1rem 1rem 1rem;
    .block-title;
    color: @heading-color-inverted;
  }

  &__body {
    margin: 2rem 1rem 1rem 1rem;
  }

  &__instruction {
    margin: 1rem 1rem 1.5rem 1rem;
    .instruction-text;
  }

  &__body a,
  &__instruction a {
    .link-text;
  }
}

@media(max-width: 420px) {
  .block__title {
    font-size: 2rem;
  }
}
