.component {
  //box-shadow: 0 .4rem 1.2rem .3rem rgba(0,0,0,0.08);
  padding: 1rem;
  &__title {
    margin-left: @component-title-margin;
    margin-bottom: @component-title-margin;
    .component-title;
    color: @heading-color-inverted;
  }

  &__body {
    margin-bottom: 1rem;
  }

  &__instruction {
    margin-bottom: 1.5rem;
    .instruction-text;
  }

  &__body a,
  &__instruction a {
    .link-text;
  }

  @media (max-width: @device-width-medium) {
    &.is-left {
      padding-bottom: @block-padding-ver;
    }
  }
}

.no-touch .component {
  &__inner {
    padding: 1rem;
  }
}

//.graphic,
//.no-touch .graphic {
//  padding: 0;
//}
