.drawer {
  background-color: @drawer;
  box-shadow: @shadow;

  &__toolbar {
    border-bottom: 1px solid @drawer-item-hover;
  }

  &__btn {
    margin: @btn-margin / 2;
    padding: @btn-padding / 2;
    background-color: @drawer-icon;
    color: @drawer-icon-inverted;
    border-radius: 50%;

    .no-touch &:hover {
      background-color: @drawer-icon-hover;
      color: @drawer-icon-inverted-hover;
      .transition(background-color @duration ease-in, color @duration ease-in;);
    }
  }
}
