.page {
  max-width: inherit;
  .l-container-padding(@page-padding-ver, @page-padding-hoz);

  &.has-bg-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
  }

  &__header.has-bg-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
  }

  &__header {
    background-color: @blue;
    background-image: url(assets/net-abstract-header.jpg);
    border-bottom: 5px @greyLight solid;
  }

  &__header-inner {
    .l-container-padding(@page-header-padding-ver, @page-header-padding-hoz);
    background-color: transparent;
    color: @white;
    margin-bottom: 2rem;
  }

  &__title {
    margin: 1rem 1rem 2rem .5rem;
    color: @heading-color;
    font-size: 3.4em;
    line-height: 1em;
    .page-title;
  }

  &__subtitle {
    margin: @page-subtitle-margin;
    .page-subtitle;
  }

  &__body {
    margin-bottom: @page-body-margin;
    .page-body;
  }

  &__instruction {
    margin: @page-instruction-margin;
    .page-instruction;
    font-style: normal;
  }

  &__body a,
  &__instruction a {
    .link-text;
  }
}

@media(min-width: 800px) {
  .page {
    &__header {
      min-height: 500px;
    }
    &__header-inner {
      padding-top: 5rem;
    }
  }
}

@media(max-width: 800px) {
  .page {
    &__title {
      font-size: 4rem
    }
  }
}
